* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
/*Parte del buscador*/

  h1 {
    margin: 20px 0;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1976d2;
  }
  
  #search-results {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
 /*Tipografia*/
  
  .boton {
    background-color: #222;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .boton:hover {
    background-color: #444;
  }
  
.letra{
    margin-top: 13%;
    margin-bottom: 7%;
}
  
/*Modo claro, modo oscuro*/

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0062cc;
}

.dark-mode {
    background-color: #212529;
    color: #fff;
}

.dark-mode .btn {
    background-color: #fff;
    color: #212529;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode .btn:hover {
    background-color: #f8f9fa;
    color: #212529;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}